@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

button {
    width:fit-content;
    height:auto;
    outline:none;
    border:none;
    background-color: rgb(45, 104, 180);
    border: 1px solid rgb(80, 156, 255);
    border-radius: 10px;
    padding: 10px 20px;
    color:white;
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(34, 77, 133);
}

button:disabled {
    cursor:default;
    opacity:.6;

}

.Content {
    font-family: 'Rambla', sans-serif;
    background-color: rgb(8, 14, 22);
    position: fixed;
    left:0;right:0;top:0;bottom:0;
    color:white;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

.Container {
    width:300px;
    height:400px;
    background-color: rgb(24, 36, 51);
    border: 1px solid rgb(53, 76, 107);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    text-align: center;


}

.Wallet {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    height:fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    z-index: 1;
    
}